<form [formGroup]="loginForm" novalidate (ngSubmit)="login(loginForm.value,loginForm.valid)" class="form-signin">
	<h2 class="form-signin-heading">Login to your account</h2>

	<div class="login-wrap">
		<div *ngIf="login_error_msg" class="alert alert-danger">{{ login_error_msg }}</div>

		<!-- Username -->
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-user"></i></div>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Username" formControlName="username" />
			</div>
			<label class="error" [hidden]="loginForm.controls.username.valid || (loginForm.controls.username.pristine && !submitted)">Username is required</label>
		</div>
		<!-- /Username -->

		<!-- Password -->
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-lock"></i></div>
				<input shared-focus-input class="form-control placeholder-no-fix" type="password" placeholder="Password" formControlName="password" />
			</div>
			<label class="error" [hidden]="loginForm.controls.password.valid || (loginForm.controls.password.pristine && !submitted)">Password is required</label>
		</div>
		<!-- !Password -->

		<!-- Actions -->
		<div class="form-actions clearfix">
			<div class="col-xs-8">
				<label class="checkbox">
					<input type="checkbox" formControlName="rememberMe" /> Remember me
				</label>
			</div>
			<div class="col-xs-4 text-right">
				<input type="submit" class="btn green pull-right" value="Login">
			</div>
		</div>
		<!-- /Actions -->
	</div>
</form>