<!-- sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion" bs-active-link>
            <li>
                <a href="#/home/dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>Quản lý tin</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-file-text-o"></i>
                    <span>Cài đặt</span>
                </a>
                <ul class="sub">
                    <li routerLinkActive="active">
                        <a routerLink="/article/quan-ly-truong">Quản lý trường</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/article/danh-sach-chon">Danh sách chọn</a>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-star-o"></i>
                    <span>Thông tin cá nhân</span>
                </a>
                <ul class="sub">
                    <li routerLinkActive="active">
                        <a routerLink="/user/thong-tin-tai-khoan">Tài khoản</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/user/doi-mat-khau">Đổi mật khẩu</a>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-user-group"></i>
                    <span>Người dùng</span>
                </a>
                <ul class="sub">
                    <li routerLinkeActive="active">
                        <a routerLink="/user/danh-sach/ca-nhan">Cá nhân</a>
                    </li>
                    <li routerLinkeActive="active">
                        <a routerLink="/user/danh-sach/cong-ty">Công ty</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#/faq/list">
                    <i class="fa fa-file"></i>
                    <span>Chat</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<!--sidebar end-->