<!-- sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion" bs-active-link>
            <li>
                <a href="#/home/dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>{{ 'sidebar.LBL_ARTICLE_MANAGE' | translate }}</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-file-text-o"></i>
                    <span>{{ 'sidebar.LBL_SETTINGS' | translate }}</span>
                </a>
                <ul class="sub">
                    <li routerLinkActive="active">
                        <a routerLink="/article/quan-ly-truong">{{ 'sidebar.LBL_MANAGE_ATTRIBUTES' | translate }}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/article/danh-sach-chon">{{ 'sidebar.LBL_LIST_OPTIONS' | translate }}</a>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-star-o"></i>
                    <span>{{ 'sidebar.LBL_PROFILE' | translate }}</span>
                </a>
                <ul class="sub">
                    <li routerLinkActive="active">
                        <a routerLink="/user/thong-tin-tai-khoan">{{ 'sidebar.LBL_ACCOUNT' | translate }}</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/user/doi-mat-khau">{{ 'sidebar.LBL_CHANGE_PW' | translate }}</a>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="">
                    <i class="fa fa-users"></i>
                    <span>{{ 'sidebar.LBL_USER' | translate }}</span>
                </a>
                <ul class="sub">
                    <li routerLinkeActive="active">
                        <a routerLink="/user/danh-sach/ca-nhan">{{ 'sidebar.LBL_PERSONAL' | translate }}</a>
                    </li>
                    <li routerLinkeActive="active">
                        <a routerLink="/user/danh-sach/cong-ty">{{ 'sidebar.LBL_ORG' | translate }}</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#/faq/list">
                    <i class="fa fa-file"></i>
                    <span>Chat</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<!--sidebar end-->