<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-heading">
                Quản lý trường
            </div>
            <div class="panel-body">
                <div class="row-fluid">
                    <!-- BLOCKS LIST -->
                    <div class="col-sm-6">
                        <ul class="blocks">
                            <li *ngFor="let block of blocks" class="block">
                                <div class="block-heading">
                                    <div class="row-fluid clearfix">
                                        <div class="col-xs-8">
                                            <span *ngIf="!block.edit" class="title">{{ block.name }}</span>
                                            <form *ngIf="block.edit" [formGroup]="block_form" (ngSubmit)="triggerSaveBlock()" style="margin-bottom: 10px;">
                                                <div class="row clearfix">
                                                    <div class="col-xs-6">
                                                        <input formControlName="name" [value]="block.name" type="text" required="required" class="form-control" placeholder="Enter name of block">
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <input type="submit" class="btn btn-primary" value="Save">
                                                        <input (click)="triggerCancelEditBlock(block)" type="button" class="btn btn-default" value="Cancel">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            <a (click)="triggerEditBlock(block)" href="javascript:void(0)"> Sửa</a>
                                            <a (click)="triggerDeleteBlock(block)" href="javascript:void(0)"> Xóa</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-body">
                                    <ul class="attributes">
                                        <li *ngFor="let attr of block.attributes" class="attribute">
                                            <div class="row-fluid clearfix">
                                                <div class="col-xs-12">
                                                    <a href="javascript:void(0)" (click)="triggerEditAttribute(block,attr)">{{ attr.label }}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="attribute"><a (click)="triggerAddNewAttribute(block)" href="javascript:void(0)"><i class="fa fa-plus"></i> {{ 'manage.LBL_ADD_ATTR' | translate }}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="block">
                                <form *ngIf="block_form_open" [formGroup]="block_form" (ngSubmit)="triggerSaveBlock()">
                                    <div class="row-fluid clearfix">
                                        <div class="col-xs-6">
                                            <input formControlName="name" type="text" class="form-control" placeholder="Enter name of block">
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="submit" class="btn btn-primary" value="Save">
                                            <label class="error" [hidden]="block_form.controls.name.valid || (block_form.controls.name.pristine && !submitted)">Name is required</label>
                                        </div>
                                    </div>
                                </form>
                                <a *ngIf="!block_form_open" (click)="triggerAddNewBlock()" href="javascript:void(0)" style="font-size:1.1em"><i class="fa fa-plus"></i> Thêm block</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /BLOCKS LIST -->
                    <!-- ADDING/EDITING ATTRIBUTE -->
                    <div class="col-sm-6">
                        <attribute-edit></attribute-edit>
                    </div>
                    <!-- /ADDING/EDITING ATTRIBUTE -->
                </div>
            </div>
        </section>
    </div>
</div>