.blocks .block{
    border: thin solid #ddd;
    margin-bottom: 10px;
    padding: 10px 10px 10px;
}
.blocks .block .block-heading{
    border-bottom: thin solid #ddd;
}
.blocks .block .block-body{
    padding-top: 10px;
}

.blocks .block .block-heading .title{
    font-size: 1.3em;
}

.attributes .attribute{
    padding: 5px 5px 5px;
}

.display_on_hover{
    display: none;
}
.attributes .attribute:hover .display_on_hover{
    display: inline;
}